In [1]:
import pandas as pd
import json
df =pd.read_csv('results/summary.csv')
df['args'] = df['args'].apply(json.loads)
df['fold_idx'] = df['args'].apply(lambda x: x['fold_idx'])
df = df.drop(['K', 'cluster_num_factor', 'args', 'seed'], axis=1)
df = df.drop_duplicates(['labeled_ratio', 'known_cls_ratio', 'dataset', 'method', 'fold_idx'])
df = df.set_index(['labeled_ratio', 'known_cls_ratio', 'dataset', 'method', 'fold_idx'])
df_melted = df.stack().reset_index()
df_melted = df_melted.rename(columns={0: "value", "level_5": "metric"})
df_melted = df_melted.sort_values(['dataset', 'method', 'fold_idx', 'labeled_ratio', 'known_cls_ratio', 'metric'])
df_pivot = df_melted.pivot(index=['dataset', 'method', 'fold_idx'], columns=['labeled_ratio', 'known_cls_ratio', 'metric'], values='value')
df_pivot.to_excel('results/summary_pivot.xlsx')
df_pivot

labeled_ratio               0.1                                               \
known_cls_ratio            0.25                                         0.50
metric                      ACC    ARI H-Score   K-ACC  N-ACC    NMI     ACC
dataset  method fold_idx
20NG     ALUP   0         94.35  90.45   96.14  100.00  92.56  93.46   98.99
                1         94.28  95.19   96.04  100.00  92.38  98.26   99.87
                2         99.80  99.54   99.77   99.71  99.83  99.63  100.00
                3         94.75  91.24   96.12   99.21  93.22  94.52   99.53
         CLNN   0         93.21  90.97   95.08   99.16  91.32  95.42   99.93
...                         ...    ...     ...     ...    ...    ...     ...
thucnews DPN    0         67.92  56.21   71.20   95.10  56.90  71.12   56.89
                1         64.17  52.97   66.87   97.28  50.94  68.14   70.11
                2         63.11  45.72   65.89   96.24  50.10  62.57   66.01
                3         57.74  42.67   59.48   93.98  43.50  62.27   59.65
         TAN    0         69.54  54.88   72.97   92.89  60.08  67.96   75.69

labeled_ratio                                     ...     1.0                 \
known_cls_ratio                                   ...    0.50
metric                       ARI H-Score   K-ACC  ... H-Score   K-ACC  N-ACC
dataset  method fold_idx                          ...
20NG     ALUP   0          98.05   99.02   99.57  ...   99.87  100.00  99.74
                1          99.69   99.87   99.86  ...   99.94  100.00  99.87
                2         100.00  100.00  100.00  ...   99.93  100.00  99.87
                3          99.06   99.52   99.87  ...   99.60   99.61  99.59
         CLNN   0          99.85   99.94  100.00  ...   99.35   99.72  98.98
...                          ...     ...     ...  ...     ...     ...    ...
thucnews DPN    0          48.21   44.79   83.17  ...   24.68   97.74  14.12
                1          58.10   61.39   94.77  ...   51.53   97.03  35.08
                2          49.32   55.34   93.80  ...   75.70   95.53  62.69
                3          41.72   41.60   92.50  ...   72.66   96.32  58.33
         TAN    0          64.98   71.11   94.34  ...     NaN     NaN    NaN

labeled_ratio                                                            \
known_cls_ratio                    0.75
metric                      NMI     ACC     ARI H-Score   K-ACC   N-ACC
dataset  method fold_idx
20NG     ALUP   0         99.76   99.93   99.85   99.88  100.00   99.76
                1         99.88  100.00  100.00  100.00  100.00  100.00
                2         99.88  100.00  100.00  100.00  100.00  100.00
                3         99.40   99.87   99.68   99.70  100.00   99.40
         CLNN   0         98.98   93.81   93.79   92.81   95.04   90.69
...                         ...     ...     ...     ...     ...     ...
thucnews DPN    0         67.94   69.61   66.30    8.01   96.03    4.18
                1         71.01   79.22   68.32   55.51   95.53   39.12
                2         75.80   88.13   77.58   81.20   95.13   70.83
                3         74.32   71.87   69.24   49.99   86.55   35.15
         TAN    0           NaN     NaN     NaN     NaN     NaN     NaN

labeled_ratio
known_cls_ratio
metric                       NMI
dataset  method fold_idx
20NG     ALUP   0          99.88
                1         100.00
                2         100.00
                3          99.79
         CLNN   0          98.15
...                          ...
thucnews DPN    0          79.88
                1          79.61
                2          83.21
                3          81.50
         TAN    0            NaN

[221 rows x 54 columns]