In [1]:
import pandas as pd
import os
root_dir = '../../data'
# for dataset_name in ['linkedln', 'banking', 'clinc', 'mcid', 'reuters', 'stackoverflow', 'thucnews', 'snips', 'atis', 'ele', 'news']:
for dataset_name in ['news']:
    for split in ['train', 'eval', 'test']:
        df = pd.read_csv(f'{root_dir}/{dataset_name}/origin_data/{split}.tsv', sep='\t')
        if not os.path.exists(f'data/{dataset_name}'):
            os.makedirs(f'data/{dataset_name}')
        if split == 'eval':
            split = 'valid'
        df['label'] = df['label'].apply(lambda x: '_'.join(x.split(' ')))
        df['text'] = df['text'].apply(lambda x: x.replace('\n', ''))
        df.to_csv(f'data/{dataset_name}/{split}.csv', index=None)
        df[['label']].to_csv(f'data/{dataset_name}/{split}.label', header=None, index=None)
        df[['text']].to_csv(f'data/{dataset_name}/{split}.seq.in', header=None, index=None)
        for ratio in [0.25, 0.5, 0.75]:
            idx = pd.read_csv(f'{root_dir}/{dataset_name}/{dataset_name}_{ratio}/idx.txt', sep='\t')
            idx['node'] = idx['node'].apply(lambda x: x.replace(' ', '_'))
            idx[['node']].to_csv(f'data/{dataset_name}/known_class_{ratio}.txt', header=None, index=None)

In [5]:
from utils import load_data
df, partition_to_n_row = load_data('news')
from nltk.tokenize import word_tokenize
df['text'] = df['text'].apply(lambda x: ' '.join(x.split(' ')[:400]))
df['content_words'] = df['text'].apply(lambda s: word_tokenize(s))

In [3]:
df

,text,label,content_words
0,"""From: frank@D012S658.uucp (Frank O'Dwyer)Subj...",alt.atheism,"[``, From, :, frank, @, D012S658.uucp, (, Fran..."
1,"""From: mathew <mathew@mantis.co.uk>Subject: Re...",alt.atheism,"[``, From, :, mathew, <, mathew, @, mantis.co...."
2,"""From: mangoe@cs.umd.edu (Charley Wingate)Subj...",alt.atheism,"[``, From, :, mangoe, @, cs.umd.edu, (, Charle..."
3,"""Subject: Re: Americans and EvolutionFrom: lmh...",alt.atheism,"[``, Subject, :, Re, :, Americans, and, Evolut..."
4,"""From: jaeger@buphy.bu.edu (Gregg Jaeger)Subje...",alt.atheism,"[``, From, :, jaeger, @, buphy.bu.edu, (, Greg..."
...,...,...,...
18823,"""From: mathew <mathew@mantis.co.uk>Subject: Re...",talk.religion.misc,"[``, From, :, mathew, <, mathew, @, mantis.co...."
18824,"""From: bskendig@netcom.com (Brian Kendig)Subje...",talk.religion.misc,"[``, From, :, bskendig, @, netcom.com, (, Bria..."
18825,From: MORIARTY@NDSUVM1.BITNETSubject: Re: New ...,talk.religion.misc,"[From, :, MORIARTY, @, NDSUVM1.BITNETSubject, ..."
18826,"""From: b645zaw@utarlg.uta.edu (stephen)Subject...",talk.religion.misc,"[``, From, :, b645zaw, @, utarlg.uta.edu, (, s..."
18827,"""From: """"David R. Sacco"""" <dsav+@andrew.cmu.ed...",talk.religion.misc,"[``, From, :, ``, '', David, R., Sacco, '', ''..."

In [6]:
df['content_words'].apply(len)

0        533
1         74
2         95
3        230
4        241
        ...
18823    453
18824    507
18825     33
18826    314
18827    278
Name: content_words, Length: 18828, dtype: int64